*{
    margin: 0;
    padding: 0;
}
/*Default Css*/
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
img{
    max-width: 100%;
}
.text-center{
    text-align: center;
}

/*Heder Css Here*/
.fixed-width{
    max-width: 1140px;
    margin: auto;
}

.header{
    box-shadow: 4px 8px 10px 0px rgba(14.000000000000036, 57.000000000000306, 255, 0.1);
}

.header-left{
    float: left;
    width: 30%;
    padding: 5px 0;
}
.header-left img{
    width: 200px;
    height: auto;
}
.header-right{
    float: right;
    width: 70%;
}
.header-right ul{
    text-align: right;
}
.header-right ul li{
    display: inline-block;
    list-style: none;
}
.header-right ul li a{
    text-decoration: none;
    padding: 10px 20px;
    line-height: 88px;
    transition: 0.5s;
}
.header-right ul li a:hover{
    color: white;
    background-color: #002168;
}


/*Offcanvass menu Css Here*/

#myNav{
    display: none;
}
.hemberger {
    display: none;
  }
 .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 80%; /* 100% width */
    text-align: left; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    margin-left: 30px;
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 10px 0;
    text-decoration: none;
    border-bottom: 1px solid #818181;
    font-size: 22px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
    border: none;
  }
   
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 30px;
      top: 15px;
      right: 35px;
    }
  } 



/*Body Css Here*/
.banner{
    background-image: url(./Banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding: 200px 0;

}

.content h2{
    color: white;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}
.content p{
    font-size: 18px;
    color: white;
}

/*Service Section*/
.service-title h2{
    font-size: 48px;
    margin-bottom: 30px;
}

.service{
    padding: 60px 0;
}
.service-item {
    float: left;
    width: 32.3%;
    padding: 20px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 20px 0;
    transition: 0.5s;
}
@keyframes fadeInUp{
    from{
        transform: translateY(90px);
    }
    to{
        transform: translateY(0);
    }
}
.fadeInUp{
    animation: fadeInUp 0.5s ease-in;
}

/*1*/
@keyframes fadeInUp1{
    from{
        transform: translateY(90px);
    }
    to{
        transform: translateY(0);
    }
}
.fadeInUp1{
    animation: fadeInUp1 0.6s ease-in;
}
/*2*/
@keyframes fadeInUp2{
    from{
        transform: translateY(90px);
    }
    to{
        transform: translateY(0);
    }
}
.fadeInUp2{
    animation: fadeInUp2 0.7s ease-in;
}
.service-item:hover{
    background-color: #b8cfff;
}
@keyframes fadeInUp3{
    from{
        transform: translateY(90px);
    }
    to{
        transform: translateY(0);
    }
}
.fadeInUp3{
    animation: fadeInUp3 0.8s ease-in;
}
.service-item:hover{
    background-color: #b8cfff;
}

.service-item span{

    
}
.far.fa-lightbulb {
    font-size: 40px;
    background: #002168;
    color: white;
    padding: 10px;
    border-radius: 20px 0;
  }
.service-item h3{
    margin: 10px;
    font-size: 26px;
    font-weight: 600;

}
.service-item p{

}

/*About Me Css*/
.about-me{
    margin-bottom: 60px;
}
.about-me-left{
    float: left;
    width: 48%;
    background-color: #fff;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05), 25px 35px 20px rgba(0,0,0,0.05), 10px 10px 40px rgba(0, 69, 255, 0.19), inset -20px -20px 25px rgba(255,255,255,0.9);;
}
.about-me-left img{
    width: 96%;
    height: 440px;
}
.about-me-right{
    float: right;
    width: 48%;
}
.subtitle h1{
    max-width: 100%;
    z-index: -1;
    font-size: 130px;
    color: #0045FF0D;
    margin-bottom: -90px
}
.about-me-right h2{
    font-size: 48px;
    padding: 10px 0;
    font-weight: 600;
    z-index: 2;

}
.about-me-right p{
    text-align: left;
}

/*best service Css*/
.best-service{
    padding: 60px 0;
}
.con-left{
    float: left;
    width: 48%;

}
.con-left h2{
    font-size: 48px;
    line-height: 1.2em;
}
.con-right{
    float: right;
    width: 48%;
    padding-left: 20px;
    padding-top: 30px;
}
.best{
    float: left;
    width: 48%;
    padding: 20px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 3%;
    border-radius: 20px 0;
    transition: 0.5s;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05), 25px 35px 20px rgba(0,0,0,0.05), 10px 10px 40px rgba(0, 69, 255, 0.19), inset -20px -20px 25px rgba(255,255,255,0.9);;
}
.best:hover{
    background-color:rgba(236, 236, 236, 0.929);
}
.best h3{
    margin: 10px 0;
    font-size: 22px;
    font-weight: 600;
    text-align: left;

}
.footer{
    background-color: #001F5A;
    padding: 15px 0;
}
.footer p{
    color: #ffffff;
}